
<label for="officeHours">
	<f:translate key="tx_hepersonen_domain_model_persons.office_hours" />
</label><br />
	<f:form.textfield property="officeHours" /><br />
<label for="foto">
	<f:translate key="tx_hepersonen_domain_model_persons.foto" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="fotoDisplayInternet">
	<f:translate key="tx_hepersonen_domain_model_persons.foto_display_internet" />
</label><br />
	<f:form.checkbox property="fotoDisplayInternet" value="1" /><br />